.title {
    width: 100%;
    text-align: center;
    margin: 0 0 16px; /* optional spacing */
}

.divider {
    border: 0;
    height: 1px;
    background: #333333;
    width: 100%;
    margin: 0 10px 0;
    align-self: center;
}

.settings-links {
    width: 100%;
    padding: 0 0 0 24px;
}