.settings-title {
    width: 100%;
    text-align: center;
    margin: 0 0 16px; /* optional spacing */
}

.title-divider {
    border: 0;
    height: 1px;
    background: #333333;
    width: 100%;
    align-self: center;
}

.settings-links {
    width: 100%;
    padding: 0 0 0 24px
}